pyobjc-core==9.2 ; python_version >= "3.7" and python_version < "4.0"
pyobjc-framework-cocoa==9.2 ; python_version >= "3.7" and python_version < "4.0"
pyobjc-framework-quartz==9.2 ; python_version >= "3.7" and python_version < "4.0"
